Zimg{
  max-width: 100%;
}

body{
  background-image: url(giphy.gif);
  background-position: center;
  background-size: cover;
}

*{
  box-sizing: border-box;
}

.secret-word{
  color: purple;
  text-decoration: none;
  cursor: cell;
}

.secret2{
  width: 200px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
}

.secret-word:hover .secret2{
  display: block;
}

.secret-btn{
  background: green;
  padding: 30px;
  display: inline-block;
}

.secret-btn:hover{
  background: red;
}

.sunset-try{
  position: relative;
  height: 100px;
  width: 257px;
}

.sunset{
  height: 100px;
}

.sunset-meaning{
  position: absolute;
  font-size: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.sunset-try:hover .sunset-meaning{
  visibility: visible;
  opacity: 1;
}

.secret{
  width: 200px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

.secret-btn:hover + .secret{
  opacity: 1;
}

.object{
  background: red;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: fixed;
  top: 400px;
  left: 50%;
  transition: background 1s, border-radius 2s, transform 1s;
}

.object:hover{
  background: yellow;
  border-radius: 0;
  transform: scale(1.3);
}

.di-di{
  height: 300px;
  position: fixed;
  top: 400px;
  left: 50%;
}
